{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static "homepage/css/album_detail.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>{{ current_album.album_title }}</title>
    <style>
      .content { position: relative; height: 400px;}
      .content div { position: absolute; width: 45%; }
      .blue { top: 60px; right: 100px;   background: linear-gradient(to right, #000000, #25b7c4); }
      .green { top: 60px; left: 15px; }
    </style>

</head>
<body>

<div class="content">
      <div class="blue">
          <img style="height: 350px" src="{% static current_album.album_logo %}">
      </div>
      <div class="green">
                  <link rel="stylesheet" href="{% static 'homepage/css/album_title.css' %}">
          <h1>{{ current_album.album_title }}</h1>
        <p>{{ current_album.album_desc }}</p>
      </div>

    </div>

<table class="rwd-table" >
  <tr>
      <th>No.</th>
      <th>Song</th>
      <th>Artist</th>
      <th>Length</th>
  </tr>

    {% for song in all_songs %}
  <tr>
      <td data-th="No.">{{ forloop.counter }}</td>
      <td data-th="Song"><a style="color: #FFFFFF; text-underline: transparent" href="{% url 'song_detail' song.id %}">{{ song.song_title }}</a></td>
      <td data-th="Artist"><a style="color: #FFFFFF; text-underline: transparent" href="{% url 'artist_detail' song.song_artist_id %}">{{ song.song_artist }}</a></td>
    <td data-th="Length">{{ song.song_length }}</td>
  </tr>
    {% endfor %}

</table>

</body>
</html>